body {
    margin: 10px 0;
}

a {
    display: block;
    margin-top: 25px;
    text-align: center;
}

.slider {
    margin: auto;
    max-width: 90vh;
    width: 100vw;
}

.slide {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vw;
    max-height: 90vh;
    position: relative;
}

.slick-arrow {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    font-size: 0;
    height: 70px;
    opacity: 0.3;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 5;
}

.slick-prev {
    background-image: url("../img/left-arrow.svg");
    left: 0;
}

.slick-next {
    background-image: url("../img/right-arrow.svg");
    right: 0;
}

.slide-1 {
    background-image: url("../img/vector50.svg");
}

.slide-2 {
    background-image: url("../img/vector100.svg");
}

.slide-3 {
    background-image: url("../img/vector200.svg");
}

.slide-4 {
    background-image: url("../img/vector1000.svg");
}

.slide-5 {
    background-image: url("../img/vector5000.svg");
}

.count {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.animation, .controls {
    margin: auto;
    margin-top: 20px;
    max-width: 80vh;
    width: 100vw;
}

.animation svg {
    height: auto;
    width: 100%;
}

.animation polygon {
    opacity: 0;
}

.animation svg g {
    transform: scale(calc(100));
}

.controls > *, .link-container input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 75%;
}

input#duration {
    width: 50px;
}